<% content_for :head do %>
    <%= stylesheet_link_tag 'tasks.css' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
<% end %>

<div class="ui left vertical inverted large sidebar labeled icon menu" id="menuLateral">
    <a class="item">
        <i class="calendar times outline icon"></i>
        No date
    </a>
    <a class="item">
        <i class="calendar outline icon"></i>
        Today
    </a>
    <a class="item">
        <i class="calendar minus outline icon"></i>
        This week
    </a>
    <a class="item">
        <i class="calendar alternate outline icon"></i>
        This month
    </a>
    <a class="item">
        <i class="star icon"></i>
        Favorites
    </a>
    <a class="item">
        <i class="redo alternate icon"></i>
        Recurring
    </a>
    <a class="item">
        <i class="clock icon"></i>
        Overdue
    </a>
    <a class="item">
        <i class="th list icon"></i>
        All tasks
    </a>
    <a class="item">
        <i class="calendar plus icon"></i>
        Create new list
    </a>
    
</div>

<div class="pusher">
    <div class="full height">
        <div class="following bar">
            <div class="ui massive secondary violet network menu inverted">
                <div class="item">
                    <i class="bordered inverted violet rocket icon"></i>
                    TaskTrackr
                </div>
                <a class="ui item" onclick="toggleSidebar()">
                    <i class="sidebar icon"></i>
                    Menu
                </a>
                <div class="ui big inverted segment center aligned centered"> <!-- Adicionei a classe "center aligned" aqui -->
                    <i class="archive icon"></i>
                    Current: Today
                </div>
                <div class="right menu inverted">
                    <div class="ui pointing dropdown item" id="accountDropdown">
                        <i class="user circle icon"></i>
                        Account
                        <div class="menu">
                            <a class="item">
                                <i class="cog icon"></i>
                                Settings
                            </a>
                            <a class="item">
                                <i class="power off icon"></i>
                                Logout
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="ui massive segment">
            <div class="ui center aligned icon header">
                <i class="rocket icon"></i>
                <div class="content">Add a task and conquer your day!</div>
            </div>
            <%= form_with(url: tasks_path, html: { class: 'ui huge form' }) do |f|%>
            <div class="ui field fluid icon transparent input">
                <%= f.text_field :title, placeholder: 'Create your tasks here...'%>
                <i class="sticky note icon"></i>
            </div>
            <% end %>
        </div>
        <div class="ui massive segment">
            <h1 class="ui header centered">Tasks</h1>
            <div class="ui divider"></div>
            <div class="ui cards">
                <% @tasks.each do |task| %>
                <%= render task %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'tasks.js' %>